<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/dangnhap.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row col-12">
            <div class="col-md-4 col-lg-6" style="background-color: #F3D2C1; height: 100%; position: absolute; top: 0;left: 0;">
                <img src="/upload/logopetworld.png" class="img-fluid">
            </div>

            <div class="col-12 col-md-8 col-lg-6 formlogin" style="height: 100%; position: absolute; top: 0;right: 0;">
                <div class="h1 m-5">
                    <h2 style="margin-top: 15%; color: #001858;font-weight: 700; font-size: 95%; font-family: system-ui, Roboto; text-align: center;">
                        Xin chào ! Chào mừng trở lại
                    </h2>
                </div>
                <form action="" method="post">
                    <% if(msg) { %>
                        <div class="text-lg-start d-grid mb-2" style="width: 85%;">
                            <span class="p-3"
                                style="background-color: rgb(175, 214, 239); border-radius: 10px;color: red;font-weight: bold;">
                                <%= msg %>
                            </span>
                        </div>
                        <% }%>
                    <div class="form-outline mb-3 ">
                        <label class="form-label" style="font-family: system-ui, Roboto;" for="username">Tên đăng nhập</label>
                        <input type="text" name="userName" id="username" style="box-shadow: none;" class="form-control form-control-lg" />
                    </div>

                    <div class="form-outline mb-3">
                        <label class="form-label" style="font-family: system-ui, Roboto;" for="password">Mật khẩu</label>
                        <div style="position: relative; display: flex; flex-direction: row; align-items: center ;">
                            <input type="password" name="passWord" id="password" style="box-shadow: none;" class="form-control form-control-lg" />
                        </div>

                    </div>

                    <div class="" style="width: 85%;">
                        <button type="submit" class="btn btn-lg mt-5" style="width: 100%;background-color: #F582AE; color: #ffffff; font-family: system-ui, Roboto; font-weight: bold;">
                            Đăng nhập
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>