<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <title>profile</title>
</head>
<body>
   <div class="container-fluid">
    <div class="col-4 bg-light m-auto">
        <img src="" alt="" style="width: 15%; height: 18%;">
    </div>
   </div> 
</body>
</html>