</section>
<script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e) => {
      let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
      arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", () => {
    sidebar.classList.toggle("close");
  });

  let currentActiveButton = null;

  function changeColor(button) {
    // Hủy màu của nút cũ nếu có
    if (currentActiveButton) {
      currentActiveButton.classList.remove("active");
    }

    // Đổi màu của nút mới
    button.classList.add("active");
    currentActiveButton = button;
    window.onbeforeunload = function () {
      localStorage.clear();
    };
  }

</script>

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
</body>

</html>