<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../stylesheets/sidebar.css" />
  <!-- Boxiocns CDN Link -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <a href="/pet"><img src="/upload/logoclose.png" class="logo_close"></a>
      <a class="logo_name" href="/pet"><img src="/upload/logopetworld.png" style="width: 100%;"></a>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/pet" class="color-link" onclick="changeColor(this)">
          <span class="iconify"
            data-icon="streamline:travel-hotel-pet-paw-paw-foot-animals-pets-footprint-track"></span>
          <span class="link_name">Thú cưng</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/pet">Thú cưng</a></li>
        </ul>
      </li>

      <li>
        <a href="/product" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="fluent-mdl2:product-variant"></span>
          <span class="link_name">Sản phẩm</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/product">Sản phẩm</a></li>
        </ul>
      </li>

      <li>
        <a href="/bill-product" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="uil:bill"></span>
          <span class="link_name">Hóa đơn sản phẩm</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/product">Hóa đơn sản phẩm</a></li>
        </ul>
      </li>


      <li>
        <a href="/blog" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="iconamoon:news-bold"></span>
          <span class="link_name">Bài viết</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/blog">Bài viết</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="gg:browser"></span>
          <span class="link_name">Duyệt đơn</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Duyệt đơn</a></li>
        </ul>
      </li>
      <li>
        <a href="/notification" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="carbon:notification"></span>
          <span class="link_name">Thông báo</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/notification">Thông báo</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="mdi:chart-line"></span>
          <span class="link_name">Thống kê</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Thống kê</a></li>
        </ul>
      </li>
      <li>
        <a href="/admin" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="clarity:administrator-line"></span>
          <span class="link_name">Admin</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="" href="/admin">Admin</a></li>
        </ul>
      </li>
      <li>
        <a href="/user" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="mdi:account-outline"></span>
          <span class="link_name">Tài khoản</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/user">Tài khoản</a></li>
        </ul>
      </li>
      <li>
        <a href="/user-shop" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="ri:user-5-line"></span>
          <span class="link_name">Tài khoản Shop</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/user-shop">Tài khoản Shop</a></li>
        </ul>
      </li>
      <li>
        <a href="/shop" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="solar:shop-outline"></span>
          <span class="link_name">Shop</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/shop">Shop</a></li>
        </ul>
      </li>
      <li>
        <a href="/transaction" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="fluent:payment-16-regular"></span>
          <span class="link_name">Giao dịch</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/shop">Giao dịch</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="material-symbols:info-outline"></span>
          <span class="link_name">Hỗ trợ</span>
        </a>

        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Hỗ trợ</a></li>
        </ul>
      </li>
      <li>
        <a href="/account/logout" class="color-link" onclick="changeColor(this)">
          <span class="iconify" data-icon="humbleicons:logout"></span>
          <span class="link_name">Đăng xuất</span>
        </a>

        <ul class="sub-menu blank">
          <li><a class="link_name" href="/account/logout">Đăng xuất</a></li>
        </ul>
      </li>

    </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <div class="col-10" style="display: flex;">
        <i class="bx bx-menu"></i>
        <span class="text">
          <%= title %>
        </span>
      </div>
      <% if(typeof(adminLogin)!='undefined' ) { %>
        <img src="<%= adminLogin.avatarAdmin %>" alt="" style="border-radius: 80px;width: 20%; height: 30px;">
        <span>
          <a href="/account/profile" style="text-decoration: none;font-weight: 700;margin: 6px; color: #403f3f;">
            <%= adminLogin.userName %>
          </a>
        </span>
        <% } %>

    </div>

    </div>