<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="../../stylesheets/sidebar.css" />
    <!-- Boxiocns CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="sidebar close">
      <div class="logo-details">
        <img src="http://localhost:3000/upload/logoclose.png" width="70" height="55" class="logo_close">
        <span class="logo_name"><img src="http://localhost:3000/upload/logopetworld.png"  width="110" height="96" ></span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="color-link" onclick="changeColor(this)">
            <span class="iconify" data-icon="fluent-mdl2:product-variant" ></span>
            <span class="link_name">Sản phẩm</span>
          </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Sản phẩm</a></li>          
        </ul>
      </li>
        <li>
          <a href="#" class="color-link" onclick="changeColor(this)">
            <span class="iconify" data-icon="iconamoon:news-bold" ></span>
            <span class="link_name">Bài viết</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Bài viết</a></li>
          </ul>
        </li>
       
        <li>
          <a href="#" class="color-link" onclick="changeColor(this)">
            <span class="iconify" data-icon="gg:browser"></span>
            <span class="link_name">Duyệt đơn</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Duyệt đơn</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="color-link" onclick="changeColor(this)">
            <span class="iconify" data-icon="carbon:notification"></span>
            <span class="link_name">Thông báo</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Thông báo</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="color-link" onclick="changeColor(this)">
            <span class="iconify" data-icon="mdi:chart-line"></span>
            <span class="link_name">Thống kê</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Thống kê</a></li>
          </ul>
        </li>
        <li>
          <a href="http://localhost:3000/admin" class="color-link" onclick="changeColor(this)">
            <span class="iconify" data-icon="clarity:administrator-line"></span>
            <span class="link_name">Admin</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="" href="http://localhost:3000/admin">Admin</a></li>
          </ul>
        </li>
        <li>
          <a href="http://localhost:3000/user" class="color-link" onclick="changeColor(this)">
            <span class="iconify" data-icon="mdi:account-outline"></span>
            <span class="link_name">Tài khoản</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="http://localhost:3000/user">Tài khoản</a></li>
          </ul>
        </li>
        <li>
          <a href="http://localhost:3000/user-shop" class="color-link" onclick="changeColor(this)">
            <span class="iconify" data-icon="solar:shop-outline"></span>
            <span class="link_name">Tài khoản Shop</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="http://localhost:3000/user-shop">Tài khoản Shop</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="color-link" onclick="changeColor(this)">
            <span class="iconify" data-icon="material-symbols:info-outline"></span>
            <span class="link_name">Hỗ trợ</span>
          </a>
      
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Hỗ trợ</a></li>
        </ul>
      </li>
        <li>
          <div class="profile-details">
            <div class="profile-content">
              <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
              <div class="profile_name">Đào Minh Hoàn</div>
              <div class="job">Admin</div>
            </div>
            <i class="bx bx-log-out"></i>
          </div>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text"><%= title %></span>
        
      </div>