<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../../stylesheets/sidebar.css" />
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="sidebar close"">
    <div class="logo-details">
      <a href="/accountShipper/listBillProduct"><img src="/upload/ourpet_logo.png" class="logo_close"></a>
      <a class="logo_name" href="/accountShipper/listBillProduct"">
        <img src=" /upload/ourpet_logo.png" style="width: 40%;  margin-top: 25px;">
      </a>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/accountShipper/listBillProduct" onclick="changeColor(this)">
          <span class="iconify" data-icon="lets-icons:order"></span>
          <span class="link_name">Đơn hàng</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/accountShipper/listBillProduct">Đơn hàng</a></li>
        </ul>
      </li>
      <li>
        <a href="/accountShipper/listbillDelivering" onclick="changeColor(this)">
          <span class="iconify" data-icon="iconamoon:news-bold"></span>
          <span class="link_name">Đơn hàng đang giao</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/accountShipper/listbillDelivering">Đơn hàng đang giao</a></li>
        </ul>
      </li>
      <li>
        <a href="/accountShipper/listbillDeliveryFall" onclick="changeColor(this)">
          <span class="iconify" data-icon="icon-park-outline:database-fail"></span>
          <span class="link_name">Đơn hàng giao không thành công</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/accountShipper/listbillDeliveryFall">Đơn hàng giao không thành
              công</a></li>
        </ul>
      </li>

      <li>
        <a href="/accountShipper/successfulDelivery" onclick="changeColor(this)">
          <span class="iconify" data-icon="fluent-mdl2:product-variant"></span>
          <span class="link_name">Đơn hàng giao thành công</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/accountShipper/successfulDelivery">Đơn hàng giao thành công</a></li>
        </ul>
      </li>
      <li>
        <a href="/accountShipper/cancelledDelivery" onclick="changeColor(this)">
          <span class="iconify" data-icon="icon-park-outline:doc-fail"></span>
          <span class="link_name">Đơn hàng bị hủy</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/accountShipper/cancelledDelivery">Đơn hàng bị hủy</a></li>
        </ul>
      </li>
      <li>
        <a href="/accountShipper/proFileShipper" onclick="changeColor(this)">
          <span class="iconify" data-icon="pajamas:profile"></span>
          <span class="link_name">Hồ sơ</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/accountShipper/proFileShipper">Hồ sơ</a></li>
        </ul>
      </li>

      <li>
        <a href="/accountShipper/loginShipper" onclick="changeColor(this)">
          <span class="iconify" data-icon="humbleicons:logout"></span>
          <span class="link_name">Đăng xuất</span>
        </a>

        <ul class="sub-menu blank">
          <li><a class="link_name" href="/accountShipper/loginShipper">Đăng xuất</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class="bx bx-menu"></i>
      <span class="text">
        <%= title %>
      </span>
    </div>