<%- include('../inc/top',{title:'Xóa người dùng'}) %>
    <div class="container">
        <% if(msg) { %>
            <div class="row mb-2">
                <span class="p-3"
                    style="background-color: rgb(175, 214, 239); border-radius: 10px;color: red;font-weight: bold;">
                    <%= msg %>
                </span>
            </div>
            <% }%>
                <div class="col-5 m-auto card">
                    <form action="" class="card-body" method="post">
                        <h5 class="card-text  mb-3">Bạn có chắc muốn xóa người dùng <span style="font-weight: bold;"><%= objU.fullName %></span>?</h5>
                        <button class="btn btn-danger" type="submit">Xóa ngay</button>
                        <a href="/user" class="btn"
                            style="background-color: rgb(216, 212, 212);">Hủy bỏ</a>
                    </form>
                </div>
    </div>
    <%- include('../inc/bottom') %>