<%- include('../inc/top',{title:'Xóa thể loại thú cưng'}) %>
    <div class="container">
        <% if(message) { %>
            <div class="row mb-2">
                <span class="p-3"
                    style="background-color: rgb(175, 214, 239); border-radius: 10px;color: red;font-weight: bold;">
                    <%= message %>
                </span>
            </div>
            <% }%>
                <div class="col-5 m-auto card">
                    <form action="" class="card-body" method="post">
                        <h5 class="card-text  mb-3">Bạn muốn xóa thể loại: <span style="font-weight: bold;">
                                <%= Objdata.nameCategory %>
                            </span> ?</h5>
                        <button class="btn btn-danger" type="submit">Xóa ngay</button>
                        <a href="/category-pet" class="btn" style="background-color:#d2d2d2 ;">Hủy bỏ</a>
                    </form>
                </div>
    </div>
    <%- include('../inc/bottom') %>