<%- include('../inc/top',{title:'Thêm thể loại sản phẩm'}) %>

  <div class="container ms-3">
    <div class="form-group row mb-4 mt-3">
      <label for="tentheloai" class="col-sm-5 " style="color: #848485;">Tạo một thể loại sản phẩm mới và thêm vào trang mạng này.</label>
    </div>
    <% if(msg) { %>
      <div class="row">
          <span class="p-3"
              style="background-color: rgb(175, 214, 239); border-radius: 10px;color: red;font-weight: bold;">
              <%= msg %>
          </span>
      </div>
      <% }%>

    <form action="" method="post">
      <div class="form-group row mt-2">
        <label for="tentheloai" class="col-sm-3 col-form-label">Tên thể loại sản phẩm</label>
        <div class="col-sm-4">
          <input type="text" name="nameCategory" class="form-control " id="tentheloai" placeholder="Nhập tên thể loại">
        </div>
      </div>
      <div class="form-group row mt-2">
        <label for="tenicon" class="col-sm-3 col-form-label">Tên Icon</label>
        <div class="col-sm-4">
          <input type="text" name="nameIcon" class="form-control " id="tenicon" placeholder="Nhập tên Icon">
        </div>
      </div>

      <div class="form-group row mt-3">
        <div class="col-sm-10">
          <button style="background-color: #F582AE;" type="submit" class="btn btn-secondary ">
            Thêm thể loại mới
          </button>
          <a href="/category-product" style=" background-color: #001858" class="btn btn-secondary">Hủy bỏ</a>
        </div>
      </div>
    </form>

  </div>

  <%- include('../inc/bottom') %>