<%- include('../inc/top', { title: 'Thêm người dùng shop mới' }) %>

<div class="container mt-2">

    <div class="form-group">
        <label for="username">Tạo một người dùng shop mới và thêm vào trang mạng này.</label>
    </div>

    <% if (msg) { %>
    <div class="alert alert-danger"
        style="background-color: rgb(175, 214, 239); border-radius: 10px; color: red; font-weight: bold;">
        <%= msg %>
    </div>
    <% } %>

    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="tendaydu" class="col-sm-3 col-form-label">Tên đầy đủ</label>
            <div class="col-sm-9">
                <input type="tel" name="tendaydu" class="form-control" id="tendaydu" placeholder="Nhập tên đầy đủ">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="text" name="email" class="form-control" id="email" placeholder="Nhập email của bạn">
            </div>
        </div>
        <div class="form-group row">
            <label for="tendangnhap" class="col-sm-3 col-form-label">Tên đăng nhập</label>
            <div class="col-sm-9">
                <input name="tendangnhap" class="form-control" placeholder="Nhập tên đăng nhập">
            </div>
        </div>
        <div class="form-group row">
            <label for="matkhau" class="col-sm-3 col-form-label">Mật khẩu</label>
            <div class="col-sm-9">
                <input type="password" name="matkhau" class="form-control" id="matkhau" placeholder="Nhập mật khẩu">
            </div>
        </div>
        <div class="form-group row">
            <label for="confirmmatkhau" class="col-sm-3 col-form-label">Nhập lại mật khẩu</label>
            <div class="col-sm-9">
                <input type="password" name="confirmmatkhau" class="form-control" id="confirmmatkhau"
                    placeholder="Nhập lại mật khẩu">
            </div>
        </div>
        <div class="form-group row">
            <label for="anh_usershop" class="col-sm-3 col-form-label">Ảnh</label>
            <div class="col-sm-9">
                <input type="file" name="anh_usershop" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button style="background-color: #F582AE;" type="submit" class="btn btn-secondary btn-block">Thêm usershop</button>
                <a href="http://localhost:3000/user-shop" style="background-color: #001858" class="btn btn-secondary btn-block">Hủy bỏ</a>
            </div>
        </div>
    </form>
</div>

<%- include('../inc/bottom') %>
